<html>
  <head>
    <style>
      table.datatbl {
      border:1px solid #ccc;
      border-collapse:collapse;
      }
      table.datatbl td,th {
      border:1px solid #ccc;
      padding:0px 4px;
      }
      .num {
      text-align:right;
      }
      .timebar {
      display:inline-block;
      background-color:#0066FF;
      margin:2px 0px;
      }
    </style>
  </head>
  <body>
    <h1>Django Tracer</h1>
    <p><a href='{% url tracerhome %}'>View All</a></p>
    <table class='datatbl'>
      <tr>
        <th>path</th>
        <th>microsec</th>
        <th>graph</th>
      </tr>
      {% for t in rrdata %}
      <tr>
        <td><a href="?path={{t.path}}">{{t.path}}</a></td>
        <td class='num'>{{t.elapsed}}</td>
        <td><span class='timebar' style='width:{{t.elapsed_pixels}}px;'>&nbsp;</span></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
